@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.sidebar {
  display: block;
}

.sidebar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 70px;
}

.sidebar-logo {
  padding: .675rem 1.5rem;
  display: flex;
  align-items: center;
}

.sidebar-logo img {
  width: 30px;
}

.sidebar-logo .brand-name {
  font-size: 20px;
  font-family: 'Encode Sans', sans-serif;
  color: var(--text);
  font-weight: 800;
  margin-left: 10px;
}

.sidebar-head .toggle-btn button {
  background: transparent;
  border: none;
  padding: 8px 15px;
  margin-left: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .675rem 1.5rem;
  margin: 15px 10px;
  color: rgba(0, 0, 0, .6);
  transition: all 0.2s ease;
}

.sidebar ul li a.active {
  border-radius: .375rem;
  background-color: var(--bg-content);
  color: rgba(0, 0, 0, 1);
}

.sidebar ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.sidebar ul li a .link-icon {
  min-width: 2rem;
  display: flex;
  align-items: center;
}

.collapsed-side-hide {
  display: none;
  transition: all 0.5 ease;
}