@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bs-primary: rgba(94, 114, 228, 1) !important;
  --bs-primary-active: rgba(94, 114, 228, 0.9) !important;
  --primary: rgba(94, 114, 228, 1) !important;
  --primary-active: rgba(94, 114, 228, 0.9) !important;
  --primary-light: rgba(94, 114, 228, .075) !important;
  --primary-dark-light: rgba(94, 114, 228, .1) !important;
  --bs-text: #232323 !important;
  --text: #232323 !important;
  --text-light: rgb(180, 183, 203) !important;
  --bg-text: #232323 !important;
  --bg-dark: #232323 !important;
  --bg-light: #F1F3Fa !important;
  --bg-extra-light: #F7F7F7 !important;
  --label: #8898aa !important;
  --bs-placeholder: #b7c0cc !important;
  --text-secondary: #8a8a8a !important;
  --secondary: #8a8a8a !important;
  --muted: #9c9c9c !important;
  --bg-content: #F1F3Fa !important;
}

html,
body {
  margin: 0px;
  background-color: #FFFFFF;
  font-size: 1rem !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.container-fluid {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn {
  transition: all .15s ease;
  will-change: transform;
  padding: 0.625rem 1.25rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-lg {
  padding: .875rem 1.25rem !important;
}

.btn-sm {
  padding: .25rem .5rem !important;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-warning,
.btn-danger,
.btn-info,
.btn-light,
.btn-dark,
.btn-outline-primary {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-outline-primary {
  background-color: var(--bs-white) !important;
  color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-outline-primary:active {
  box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--bs-primary-active) !important;
  border-color: var(--bs-primary-active) !important;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-dark {
  color: #fff !important;
}

.btn-warning,
.btn-info,
.btn-light {
  color: var(--bg-text) !important;
}

.btn-primary:active,
.btn-secondary:active,
.btn-success:active,
.btn-warning:active,
.btn-danger:active,
.btn-info:active,
.btn-light:active,
.btn-dark:active {
  box-shadow: none !important;
}

input,
textarea,
select {
  border-radius: .25rem !important;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25rem !important;
  box-shadow: none !important;
}

.form-check label {
  color: var(--bs-placeholder) !important;
}

.btn {
  border-radius: .25rem !important;
}

a {
  text-decoration: none !important;
}

.custom-shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}

.custom-btn-shadow {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--bs-placeholder) !important;
}

.form-select,
.form-control {
  box-shadow: none !important;
  padding: 0.575rem 0.75rem !important;
  border: 1px solid #dee2e6 !important;
}

.form-label {
  color: var(--label) !important;
  font-size: .875rem !important;
  font-weight: 600 !important;
}

.form-select:focus,
.form-control:focus {
  color: var(--bs-text) !important;
  background-color: #fff !important;
  border-color: #2a44db !important;
  outline: 0 !important;
  box-shadow: 0 3px 9px transparent, 3px 4px 8px rgba(94, 114, 228, .1) !important;
}

.form-select:active,
.form-control:active {
  border-color: #2a44db !important;
  box-shadow: 0 3px 2px rgba(212, 219, 226, 0.05) !important;
}

.form-check label {
  color: var(--bs-text) !important;
}

.invalid-feedback,
.input-error {
  font-size: 12px !important;
}

.input-error {
  padding: 10px 15px;
  border: 1px solid #f5c2c7;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #842029;
}

.forgot-password-link a {
  color: var(--bs-gray-500);
  text-decoration: none;
  transition: all 0.25s ease;
}

.forgot-password-link a:hover {
  color: var(--bs-purple);
  transition: all 0.15s ease;
}

.forgot-head-img {
  width: 70px;
  height: 70px;
  padding: 20px;
  background-color: var(--primary-light);
  border-radius: 50%;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.forgot-head-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--primary-light);
}

.forgot-head-img svg {
  color: var(--primary);
}

.forgot-head h3 {
  margin-top: 20px;
}

.forgot-head p {
  color: var(--muted) !important;
}

.forgot-head p span {
  color: var(--text-secondary) !important;
}



.data-loading-container {
  height: 50vh;
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: var(--bs-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: none !important;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.hr {
  margin: 0.5rem 0rem;
  border-style: dashed;
  border-color: var(--bs-placeholder);
}

.hr-dark {
  margin: 0.5rem 0rem;
  border-style: dashed;
  border-color: var(--bs-content);
}

.toast {
  width: 300px !important;
}

.toast-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.toast-body h5 {
  color: var(--bs-white);
}

.toast-body svg {
  margin-right: 15px;
}